<form id="regForm" action="POST">
    head
        style
             include ./style/style.css
<h1>Mosque Information Questionnaire</h1>
<p>Help us improve your site by answer the following questions about your mosque.  The information you provide here will be used to display on www.prayersconnect.com and related mobile app</p>
<p>Most fields are optional. Please feel free to skip the fields you are not sure about. </p>
<!-- One "tab" for each step in the form: -->
<div class="tab" >Mosque Name:
  <p><input placeholder="Mosque Name..." oninput="this.className = ''"></p>
  <p><input placeholder="Mosque Address..." oninput="this.className = ''"></p>
</div>

<div class="tab" >Basic Info:
  <p><input placeholder="Mosque Email Address" oninput="this.className = ''"></p>
  <p><input placeholder="Phone Number" oninput="this.className = ''"></p>
  <div>
  <div>
      <p>School of Thought (madhab):</p>
      <input type="radio" id="Sunni" name="Sunni" value="Sunni">Sunni
      <input type="radio" id="Sunni Salaf" name="Sunni Salaf" value="Sunni Salaf"><label for="Sunni Salaf">Sunni Salaf</label>
      <input type="radio" id="Shia Jafari" name="Shia Jafari" value="Shia Jafari"><label for="Shia Jafari">Shia Jafari</label>
      <input type="radio" id="Sufi" name="Sufi" value="Sufi"><label for="Sufi">Sufi</label>
      <input type="radio" id="Non-denominational" name="Non-denominational" value="Non-denominational"><label for="Non-denominational">Non-denominational</label>
  </div>    
      <p><input placeholder="Language Services"></p>
      <input type="checkbox" id="Option1" name="Option1" value="English">
        <label for="Option1"> English</label><br>
        <input type="checkbox" id="Option2" name="Option2" value="Arabic">
        <label for="Option2"> Arabic</label><br>
        <input type="checkbox" id="Option3" name="Option3" value="Bengali">
        <label for="Option3"> Bengali</label><br>
        <input type="checkbox" id="Option3" name="Option3" value="Urdu">
        <label for="Option3"> Urdu</label><br>
        <input type="checkbox" id="Option3" name="Option3" value="Hindi">
        <label for="Option3"> Hindi</label><br>
        <input type="checkbox" id="Option3" name="Option3" value="Other">
        <label for="Option3"> Other</label><br>
        <p><input placeholder="Parking Facilities:"></p>
        <input type="radio" id="Onsite Parking" name="Onsite Parking" value="Onsite Parking"><label for="Onsite Parking">Onsite Parking</label>  
        <input type="radio" id="Nearby Street Parking" name="Nearby Street Parking" value="Nearby Street Parking"><label for="Nearby Street Parking">Nearby Street Parking</label>
        <input type="radio" id="Nearby Paid Parking Facility" name="Nearby Paid Parking Facility" value="Nearby Paid Parking Facility"><label for="Nearby Paid Parking Facility">Nearby Paid Parking Facility</label>
        <input type="radio" id="Other" name="Other" value="Other"><label for="Other">Other</label>
        <p><input placeholder="Is Parking generally available?"></p>
        <input type="radio" id="Yes, available most of the time" name="Yes, available most of the time" value="Yes, available most of the time"><label for="Yes, available most of the time">Yes, available most of the time</label>  
        <input type="radio" id="Sometime available" name="Sometime available" value="Sometime available"><label for="Sometime available">Sometime available</label>
        <input type="radio" id="Very difficult, rare availability" name="Very difficult, rare availability" value="Very difficult, rare availability"><label for="Very difficult, rare availability">Very difficult, rare availability</label>
        <input type="radio" id="Other" name="Other" value="Other"><label for="Other">Other</label>
  </div>
</div>

<div class="tab" >Language Services:
  <p><input placeholder="dd" oninput="this.className = ''"></p>
  <p><input placeholder="mm" oninput="this.className = ''"></p>
  <p><input placeholder="yyyy" oninput="this.className = ''"></p>
</div>


<div class="tab" style="display:none">Login Info:
  <p><input placeholder="Username..." oninput="this.className = ''"></p>
  <p><input placeholder="Password..." oninput="this.className = ''"></p>
</div>

<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>
script
        include ./js/button.js
</form>
